<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AppName</key>
		<string>校园信息</string>
		<key>AppIcon</key>
		<string>appicon_activity.png</string>
		<key>AppAction</key>
		<string>Lecture</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>对外交流</string>
		<key>AppIcon</key>
		<string>appicon_outside.png</string>
		<key>AppAction</key>
		<string>Outside</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>校车</string>
		<key>AppIcon</key>
		<string>appicon_bus.png</string>
		<key>AppAction</key>
		<string>Schoolbus</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>浙大百科</string>
		<key>AppIcon</key>
		<string>appicon_baike.png</string>
		<key>AppAction</key>
		<string>Baike</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>就业实习</string>
		<key>AppIcon</key>
		<string>appicon_career.png</string>
		<key>AppAction</key>
		<string>Career</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>美食</string>
		<key>AppIcon</key>
		<string>appicon_food.png</string>
		<key>AppAction</key>
		<string>Food</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>住宿</string>
		<key>AppIcon</key>
		<string>appicon_hotel.png</string>
		<key>AppAction</key>
		<string>Hotel</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>图书馆</string>
		<key>AppIcon</key>
		<string>appicon_library.png</string>
		<key>AppAction</key>
		<string>Library</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>浙大邮箱</string>
		<key>AppIcon</key>
		<string>appicon_email.png</string>
		<key>AppAction</key>
		<string>Email</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>浙大地图</string>
		<key>AppIcon</key>
		<string>appicon_map.png</string>
		<key>AppAction</key>
		<string>Map</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>浙大黄页</string>
		<key>AppIcon</key>
		<string>appicon_yellowpage.png</string>
		<key>AppAction</key>
		<string>Yellow</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>WiFi认证</string>
		<key>AppIcon</key>
		<string>appicon_wifi.png</string>
		<key>AppAction</key>
		<string>Wifi</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>意见反馈</string>
		<key>AppIcon</key>
		<string>appicon_feedback.png</string>
		<key>AppAction</key>
		<string>Feedback</string>
	</dict>
</array>
</plist>
